.content{
    display: flex;
    flex-direction: column;
}

.content_top{
    color: #fff;
    padding: 1em;
    font-size: 2em;
    margin-top: 1em;
}

h2:hover{
    color: rgb(230, 63, 91);
    transition: all 1s ease;
}

.Sectors{
    padding: 1em;
    color: #fff;
}

@media (min-width:789px){
    .content_summary{
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

/* @media(max-width:998px){ */
   /* .{ */
    /* di/splay: gri?d; */
    /* grid-template-columns: repeat(3, minmax(0,1fr)); */
   /* }  */
/* } */